<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- <div class="text-layout">
  <h1>{{nombre | titlecase }}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>
  
  <button pButton 
    (click)="mostrarNombre()"
    label="Cambiar nombre"
    icon="pi pi-check"
    iconPos="right"
    >
  </button>

  <div>
    <p-card [header]="nombre | titlecase"
      subheader="Subheader">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis libero nobis recusandae ipsum dolorem? Esse quisquam explicabo totam, nesciunt necessitatibus reprehenderit pariatur in molestias facilis, fuga nobis voluptatibus, corporis dolorum.
    </p-card>
  </div>
  
</div> -->